<div class="container">
	<div class="page-header">
		<h1>Contact</h1>
		<p class="lead"><strong>A</strong>rtificial <strong>I</strong>ntelligence and <strong>R</strong>obotics Group (ITA)</p>
	</div>

	<div class="row">
		<div class="col-sm-8 col-md-6">
			<iframe width="425" height="350" frameborder="0" scrolling="no"
				marginheight="0" marginwidth="0"
				src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=-23.209145,-45.874874&amp;daddr=AEITA,+Pra%C3%A7a+Marechal+Eduardo+Gomes,+50,+Sala+2055,+ITA%2FCTA,+Vila+das+Ac%C3%A1cias,+S%C3%A3o+Jos%C3%A9+dos+Campos,+12228-900,+Brasil&amp;hl=pt-PT&amp;geocode=%3BCVLkZQ133NO7FWzWnf4dQv1D_SlXtNdpYbPNlDEannWh-hFIsQ&amp;sll=-23.209914,-45.87557&amp;sspn=0.00567,0.006899&amp;t=h&amp;mra=mift&amp;mrsp=0&amp;sz=17&amp;ie=UTF8&amp;ll=-23.209914,-45.87557&amp;spn=0.00567,0.006899&amp;output=embed"></iframe>
			<br /> <small><a
				href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=-23.209145,-45.874874&amp;daddr=AEITA,+Pra%C3%A7a+Marechal+Eduardo+Gomes,+50,+Sala+2055,+ITA%2FCTA,+Vila+das+Ac%C3%A1cias,+S%C3%A3o+Jos%C3%A9+dos+Campos,+12228-900,+Brasil&amp;hl=pt-PT&amp;geocode=%3BCVLkZQ133NO7FWzWnf4dQv1D_SlXtNdpYbPNlDEannWh-hFIsQ&amp;sll=-23.209914,-45.87557&amp;sspn=0.00567,0.006899&amp;t=h&amp;mra=mift&amp;mrsp=0&amp;sz=17&amp;ie=UTF8&amp;ll=-23.209914,-45.87557&amp;spn=0.00567,0.006899"
				style="color: #0000FF; text-align: left">Ver mapa maior</a></small>
		</div>
		<div class="col-sm-8 col-md-6">
			<h2>Address</h2>
			<p>Division of Computer Engineering and Electronics</p>
			<p>
				Praça Marechal Eduardo Gomes, 50 - Vila das Acácias.<br /> São José
				dos Campos - SP - Brasil - CEP: 12.228-900 <br />
			</p>

			<h2>E-Mail</h2>
			<p>
				If you want to contact us by email, speak directly to one of our <a
					href="#/lab/team">researchers</a>.
			</p>
		</div>
	</div>
</div>