<div class="container">
	<div class="page-header">
		<h1>Installations</h1>
		<p class="lead"><strong>A</strong>rtificial <strong>I</strong>ntelligence and <strong>R</strong>obotics Group (ITA)</p>
	</div>
	<div class="row">
		<div class="col-sm-4 col-md-3">
			<a href="#/photo?photoUrl=img/lab/1.jpg&title=Laboratório do grupo" class="thumbnail" style="display: inline-block"> <img
					src="img/lab/thumbs/1.jpg" alt="AIRGroup Lab Photo 1" class="small-img">
			</a>
		</div>
		<div class="col-sm-4 col-md-3">
			<a href="#/photo?photoUrl=img/lab/2.jpg" class="thumbnail" style="display: inline-block"> <img
					src="img/lab/thumbs/2.jpg" alt="AIRGroup Lab Photo 2" class="small-img">
			</a>
		</div>
		<div class="col-sm-4 col-md-3">
			<a href="#/photo?photoUrl=img/lab/3.jpg" class="thumbnail" style="display: inline-block"> <img
					src="img/lab/thumbs/4.jpg" alt="AIRGroup Lab Photo 3" class="small-img">
			</a>
		</div>
		<div class="col-sm-4 col-md-3">
			<a href="#/photo?photoUrl=img/lab/4.jpg" class="thumbnail" style="display: inline-block"> <img
					src="img/lab/thumbs/4.jpg" alt="AIRGroup Lab Photo 4" class="small-img">
			</a>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4 col-md-3">
			<a href="#/photo?photoUrl=img/lab/5.jpg" class="thumbnail" style="display: inline-block"> <img
					src="img/lab/thumbs/5.jpg" alt="AIRGroup Lab Photo 5" class="small-img">
			</a>
		</div>
	</div>
</div>