<div class="container">
	<div class="page-header">
		<h1>Research Areas</h1>
		<p class="lead"><strong>A</strong>rtificial <strong>I</strong>ntelligence and <strong>R</strong>obotics Group (ITA)</p>
	</div>

	<div class="row">
		<p>We are currently working with the research areas below:</p>
		<ul>
			<li>Artificial Intelligence</li>
			<li>Computer Vision</li>
			<li>Intelligent Agents</li>
			<li>Complex Networks</li>
			<li>Robotics</li>
			<li>Machine Learning</li>
			<li>Adaptive Systems</li>
		</ul>
	</div>
</div>